{% load static %}

<header>
    <div class="header-inner">
        <div class="container">
            <!--navigation social links-->
            <div class="nav-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
            <!--logo-->
            <div class="logo-holder">
                <a href="index.html">
                <img src="{% static 'images/logo.png' %}" class="respimg logo-vis" alt="">
                <img src="{% static 'images/logo2.png' %}" class="respimg logo-notvis" alt="">
                </a>
            </div>
            <!--Navigation -->
            <div class="nav-holder">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="act-link">Главная страница</a>
                            <!-- Drop down -->                                                                  
                        </li>
                        <li><a href="{% url 'menu' %}">Menu</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'reservation' %}">Reservation</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'blog' %}">Journal</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
